@import "./variables";
@import "./fonts";
@import "./reset";

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all .05s ease-in;
    -o-transition: all .05s ease-in;
    transition: all .05s ease-in;
}
body {
    min-width: 576px;
    color:$color-text-white;
    font-family: $main-font;
    font-size: $default-font-size;
    margin: 0 auto;
    overflow-x: hidden;

    @media screen and (max-width:$desktop-small){
        overflow-x: hidden;
    }
}
.wrapper {
    max-width: $max-content-width;
    margin: 0 auto;

    @media screen and (min-width:$desktop-big){
        max-width:1320px;
    }
    
    @media screen and (max-width:$desktop-small){
        max-width:960px;
    }

    @media screen and (max-width:$tablet-start){
        max-width:720px;
    }

    @media screen and (max-width:$mobile) {
        max-width: 540px;
    }
}