$main-font:             'Josefin Sans', sans-serif;
$additive-font:         'Aleo', serif;

$color-text-white:      #FFFFFF;
$color-input-grey:      #999999;
$color-blue:            #5373FD;
$color-brown:           #333333;
$color-background-text: rgba(35, 35, 35, 0.9);
$color-black-default:   #000000;

$desktop:               1360px;
$desktop-small:         1024px;
$tablet:                768px;
$mobile:                576px;

$default-font-size:     16px;

$max-content-width:     1140px;

$desktop:              1360px;
$desktop-small:        1024px;
$tablet-start:         768px;
$mobile:               576px;
