.header__banner {
    background-image: url(../../image/header_banner.jpg);
    height: 862px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;

    @media screen and (max-width:$tablet-start){
        background-image: url('../../image/HeaderBackground_tablet.jpg');
        min-height: 862px;
    }

    &-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        margin-top: 295px;
    }

    &-pretitle {
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        letter-spacing: 0.31em;
        margin: 8px 0 48px 0;
        text-align: center;
    }
}
.banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}
.benefits__banner {
    background-image: url(../../image/benefits_banner.jpg);
    height: 704px;

    @media screen and (max-width:$tablet-start){
        background-image: url('../../image/benefits_banner_tanblet.jpg');
        height: 659px;
    }
 
}
.spain_house__banner {
    background-image: url('../../image/spain_house__banner.png');
    height: 712px;
    padding-top: 220px;

    @media screen and (max-width:$tablet-start){
        background-image: url('../../image/spain_house__banner_tablet.png');
        height: 588px;
        padding-top: 120px;
    } 
}
.spain_mountains__banner {
    background-image: url('../../image/spain_mountains_banner.png');
    height: 712px;
    padding-top: 220px;

    @media screen and (max-width:$tablet-start){
        background-image: url('../../image/spain_mountains_banner_tablet.jpg');
        height: 588px;
        padding-top: 120px;
    }
}
.testimonials__banner {
    background-image: url('../../image/testimonials_banner.jpg');
    height: 736px;
    padding-top: 120px;

    @media screen and (max-width:$tablet-start){
        background-image: url('../../image/testimonials_banner_tablet.jpg');
        height: 924px;
        padding-top: 60px;
    }

    &-title {
        font-family: $additive-font;
        font-weight: 400;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
    }
}
