.benefits__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 121px;

    @media screen and (min-width:$desktop-big){
        gap: 136px;
    }
    @media screen and (max-width:$desktop-small){
        gap: 16px;

    @media screen and (max-width:$tablet-start){
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        gap: 32px;
        }
    @media screen and (max-width:$mobile) {
        gap: 37px;
        }
    }

    &-text {
        max-width: 558px;
        height: 324px;

        @media screen and (min-width:$desktop-big){
            max-width: 648px;
        }
        @media screen and (max-width:$tablet-start){
            text-align: center ;
            max-width: 720px;
        }

        &-title {
            font-family: $additive-font;
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
            padding-top: 190px;

            @media screen and (max-width:$tablet-start){
                padding-top: 0;
            }
        }
        
        &-description {
            font-weight: 300;
            font-size: $default-font-size;
            line-height: 28px;
            letter-spacing: 0.1em;
            margin-top: 24px;
            margin-bottom: 40px;

            @media screen and (max-width:$tablet-start){
                margin-bottom: 35px;
            }
            @media screen and (max-width:$mobile) {
                margin-top: 20px;
            }
        }
    }
    &-images {
        margin-top: 124px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 16px;
        width: 461px;

        @media screen and (max-width:$desktop-small){
            width: 386px;;
        }

        @media screen and (max-width:$tablet-start){
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin-top: 60px;
            gap: 20px;

        @media screen and (max-width:$mobile) {
                gap: 25px;
        }
        }

        &-house {
            width: 350px;
            height: 220px;
            
            @media screen and (min-width:$desktop-big){
                width: 350px;
                height: 220px;
            }
            @media screen and (max-width:$mobile) {
                width: 258px;
                height: 162px;
            }
        }
        
        &-mountains {
            margin-left: auto;
            width: 350px;
            height: 220px;
            
            @media screen and (min-width:$desktop-big){
                width: 350px;
                height: 220px;
                margin-left: 75px;
            }
            @media screen and (max-width:$mobile) {
                width: 258px;
                height: 162px;

            }
        }
    }
}