.steps {
    height: 306px;
    background-color: $color-brown;

    @media screen and (max-width:$tablet-start){
        height: 658px;
    }

    &__block {
        padding-top: 70px;
        display: flex;
        justify-content: space-around;

        @media screen and (max-width:$tablet-start){
            padding-top: 0;
            flex-direction: column;
            gap: 70px;
        }
        
        &-item {
            display: inline-block;
            text-align: center;

            &:nth-child(1) {
                @media screen and (max-width:$tablet-start){
                padding-top: 70px;
                }
            }
    
            &-text {
                font-family:$additive-font ;
                font-weight: 400;
                font-size: 36px;
                line-height: 40px;
                text-align: center;
                margin-top: 21px;   
            }
        }
    }
}

