.header__banner-scroll {
    text-align: center;
    margin-top: 211px;
    cursor: pointer;

    &-name {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2em;
    }
}